<template>
  <div>
    <Header
        :background-type="data?.header.type || 'video'"
        :background="data?.header.src || '/hintergrund.webm'"
        :poster="data?.header.poster || '/header-static.webp'"
        :is-large="false"
        :hide-banner="data?.header.hidePromo"
    />
    <div class="pt-6 pb-16 px-8 no-tailwind">
      <ContentDoc>
        <template #not-found>
          <Page404/>
        </template>
      </ContentDoc>
    </div>
  </div>
</template>

<script setup lang="ts">
const {path} = useRoute();

const {data} = await useAsyncData("content", () => {
  return queryContent(path).findOne();
});
</script>

<style>
.no-tailwind {
  h1 {
    font-size: xx-large;
    font-weight: lighter;
    margin: 1em 0;
  }

  h2 {
    font-size: x-large;
    font-weight: bold;
    margin: 1em 0;
  }

  h3 {
    font-size: large;
    font-weight: bold;
    margin: 1em 0;
  }

  h4 {
    font-size: medium;
    font-weight: bold;
    margin: 1em 0;
  }

  h5 {
    font-size: small;
    font-weight: bold;
    margin: 1em 0;
  }

  h6 {
    font-size: x-small;
    font-weight: bold;
    margin: 1em 0;
  }

  a:not([href^="#"]) {
    color: #3182ce;
    text-decoration: underline;
  }
}
</style>
