<template>
  <div>
    <Header
        background-type="img"
        background="https://ikgp.de/wp-content/uploads/2023/08/IMG_7954-scaled.webp"
        :is-large="false"
    />
    <div class="flex flex-row gap-4 w-full pt-8 items-center justify-center text-4xl font-serif font-bold">
      <NuxtLink to="/jetzt">Neuigkeiten</NuxtLink>
      <NuxtLink to="/jetzt/veranstaltungen">Veranstaltungen</NuxtLink>
    </div>
    <hgroup class="text-center my-8 font-light">
      <h1 class="text-5xl  mb-2">Neuigkeiten</h1>
      <h3 class="text-2xl">Hier finden Sie Neuigkeiten und Mitteilungen der Schulleitung.</h3>
    </hgroup>
    <div
        class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 px-6 py-4 gap-8 max-w-screen-xl ml-auto mr-auto break-words"
    >
      <a v-for="post in content" :href="post._path">
        <h1 class="text-2xl font-light mb-1">{{ post.title }}</h1>
        <h3 class="mb-3 font-bold">
          {{ post.date }}
        </h3>
        <p class="text-justify text-pretty break-words">
          {{ post.preview }}
        </p>
      </a>
      <a
          v-for="post in data?.posts?.nodes"
          :href="`/jetzt${post.uri!}`"
          class="grid content-grid"
      >
        <h1 class="text-2xl font-light mb-1">{{ post.title }}</h1>
        <h3 class="mb-3 font-bold">
          {{ new Date(post.date as string).toLocaleString() }}
        </h3>
        <p class="text-justify text-pretty break-words">
          <template v-html="getExcept(post.excerpt!)"/>
        </p>
      </a>
    </div>
  </div>
</template>

<script lang="ts" setup>
const query = graphql(`
  query getCurrentPage {
    posts(first: 12) {
      nodes {
        title
        date
        excerpt
        uri
      }
      pageInfo {
        hasNextPage
        endCursor
      }
    }
  }
`);

const content = await queryContent('jetzt').find();

const {data, error} = await useAsyncQuery(query);

function getExcept(excerpt: string) {
  // Trim the starting <p> and trailing </p> from the except
  if (excerpt.startsWith("<p>")) {
    return excerpt.substring(3, excerpt.length - 5);
  } else {
    return excerpt;
  }
}
</script>

<style>
.content-grid {
  grid-template-rows: [title] 6.5rem [date] 2em [main] auto;
}

.break-words {
  word-break: break-word;
}
</style>
