<template>
  <div>
    <Header
      background-type="img"
      background="https://ikgp.de/wp-content/uploads/2023/08/IMG_7954-scaled.webp"
      :is-large="false"
    />
    <div
      class="flex flex-row gap-4 w-full pt-8 items-center justify-center text-4xl font-serif font-bold"
    >
      <NuxtLink to="/jetzt">Neuigkeiten</NuxtLink>
      <NuxtLink to="/jetzt/veranstaltungen">Veranstaltungen</NuxtLink>
    </div>
    <hgroup class="text-center my-8 font-light">
      <h1 class="text-5xl mb-2">Veranstaltungen</h1>
    </hgroup>
    <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-4 px-4 mb-8">
      <NuxtLink
        to="/jetzt/300-jahre-kant"
        class="flex gap-4 flex-col items-center"
      >
        <h1 class="text-3xl">300 JAHRE KANT</h1>
        <img
          src="/300-jahre-kant/plakat.png"
          alt="300 Jahre Kant"
          class="w-full"
        />
      </NuxtLink>
      <div class="flex gap-4 flex-col items-center">
        <h1 class="text-3xl">ART(T)OGETHER</h1>
        <img src="/artogether.jpg" alt="Artogether" class="w-full" />
      </div>
      <div class="flex gap-4 flex-col items-center">
        <h1 class="text-3xl">MUSIK AM KANT 2024</h1>
        <img
          src="/musik-am-kant-2024.jpg"
          alt="Musik am Kant: Plakat"
          class="w-full"
        />
        <p class="text-justify">
          Am Mittwoch, dem 17. April 2024 begrüßen die Musikerinnen und Musiker
          des Immanuel-Kant-Gymnasiums den Frühling: das große Konzert Musik am
          Kant findet um 19 Uhr in der Pirmasenser Festhalle statt. Wir
          präsentieren die Ergebnisse der vielfältigen musikalischen
          Aktivitäten: Die Chöre Kantiamo und Kantileni, der KANT-Kammerchor,
          das Orchester und die Band Cant Squad treten auf, aber auch Beiträge
          der Kant-Chorklassen sowie des Musik-Leistungskurses sind zu erleben.
          Der Eintritt ist frei; Spenden für einen guten Zweck werden am Ausgang
          erbeten.
        </p>
      </div>
    </div>
  </div>
</template>
