<template>
  <div>
    <Header
      background-type="img"
      background="https://ikgp.de/wp-content/uploads/2023/08/IMG_7954-scaled.webp"
      :is-large="false"
      hide-banner
    />
    <div class="w-screen flex flex-col items-center justify-center pb-4 pt-8">
      <h1 class="font-lighter text-5xl mb-4">Anmeldung</h1>
      <UForm
        class="flex items-center justify-center flex-col"
        @submit="onSubmit"
        :state
      >
        <UFormGroup label="Name des Schülers" class="mb-4" required>
          <UInput v-model="state.name" required />
        </UFormGroup>
        <UFormGroup
          label="Anzahl Personen"
          class="mb-2"
          :ui="{ label: { base: 'text-center w-full' } }"
        >
          <CountInput :min="1" :max="4" v-model="state.personen" />
        </UFormGroup>
        <UFormGroup label="E-Mail-Adresse" class="mb-4" required>
          <UInput v-model="state.email" required type="email" />
        </UFormGroup>
        <UButton type="submit" :loading>Anmeldung bestätigen</UButton>
      </UForm>
      <p
        class="max-w-screen-md text-center text-sm text-gray-800 dark:text-gray-400 mt-6"
      >
        Nach der Anmeldung können die Karten im Sekretariat abgeholt werden.<br /><!--Eine Empfangsbestätigung wird Ihnen zusätzlich per E-Mail
          zugestellt.<br />-->Doppelte Anmeldungen sowie Anmeldungen, die wir
        nicht klar zuordnen können, werden gelöscht.<br />Pro Person stehen
        maximal 4 Karten zur Verfügung.
      </p>
    </div>
  </div>
</template>

<script setup lang="ts">
import type { FormError, FormSubmitEvent } from "#ui/types";
const loading = ref(false);

const state = reactive({
  personen: 1,
  email: "",
  name: "",
});

async function onSubmit(event: FormSubmitEvent<any>) {
  loading.value = true;
  const resp = await $fetch("/api/events/1/signup", {
    method: "POST",
    body: state,
  });
  if (resp.success) {
    navigateTo(`/jetzt/300-jahre-kant/erfolg/${state.personen}`);
  }
  if (resp.existing) {
    alert(`Sie sind bereits angemeldet. Eine erneute Anmeldung ist nicht erlaubt. Sollten Sie mehr Karten benötigen, wenden Sie sich bitte an das Sekretariat.`)
  }
}
</script>
