<template>
  <div>
    <HeaderIntern class="mb-4" />
    <div
      v-if="!isLoggedIn"
      class="flex items-center justify-center flex-col h-[85vh]"
    >
      <h1 class="font-bold text-3xl mb-4">Bitte anmelden</h1>
      <form @submit.prevent="logIn" class="flex flex-col items-center gap-4">
        <UInput v-model="password" type="password" class="mb-2" />
        <UButton type="submit" :loading>Anmelden</UButton>
      </form>
    </div>
    <div v-else class="my-8 px-4 min-h-[85vh]">
      <h1 class="font-bold text-4xl mb-2">Anmeldungen</h1>
      <h3 class="">
        {{ totalTickets }} Tickets von {{ totalPersons }} Personen gebucht ({{
          personsDone
        }}
        Personen haben bereits ihr Ticket abgeholt; {{ personsPending }} noch
        ausstehend)
      </h3>
      <UTable
        :rows="data"
        class="w-full"
        :columns
        @select="selectPerson"
        v-model="received"
      >
        <template #actions-data="{ row }">
          <UButton
            color="gray"
            variant="ghost"
            icon="i-heroicons-trash"
            @click="deleteSignup(row)"
            >Löschen</UButton
          >
        </template>
      </UTable>
    </div>
  </div>
</template>

<script setup lang="ts">
const isLoggedIn = ref(false);
const password = ref("");
const anmeldungen = ref([]);
const loading = ref(false);
const received = ref([]);

async function logIn() {
  loading.value = true;
  try {
    const resp = await $fetch("/api/events/1/signups", {
      headers: { "X-Kant-Password": password.value },
    });
    anmeldungen.value = resp;
    isLoggedIn.value = true;
  } catch (e) {
    alert("Falsches Passwort!");
  } finally {
    loading.value = false;
  }
}

const data = computed(() => {
  return anmeldungen.value.map((a: any) => {
    return {
      name: a.name,
      tickets: a.tickets,
      email: a.email,
      createdAt: new Date(a.created_at).toLocaleString(),
      receivedAt: a.received_at
        ? new Date(a.received_at).toLocaleString()
        : null,
    };
  });
});

watch(data, (newData) => {
  received.value = newData.filter((a: any) => a.receivedAt);
});

const columns = [
  { key: "name", label: "Name" },
  { key: "tickets", label: "Anzahl Tickets" },
  { key: "email", label: "E-Mail" },
  { key: "createdAt", label: "Anmeldezeit" },
  { key: "receivedAt", label: "Tickets erhalten" },
  { key: "actions", label: "" },
];

const totalTickets = computed(() => {
  return anmeldungen.value.reduce((acc: number, a: any) => acc + a.tickets, 0);
});

const totalPersons = computed(() => {
  return anmeldungen.value.length;
});

const personsDone = computed(() => {
  return received.value.length;
});

const personsPending = computed(() => {
  return totalPersons.value - personsDone.value;
});

watch(received, (newReceived, oldReceived) => {
  // Diff the two arrays
  const diff = newReceived.filter((a: any) => !oldReceived.includes(a));
  for (const newPerson of diff) {
    $fetch("/api/events/1/tickets/give", {
      method: "POST",
      body: {
        name: newPerson.name,
        email: newPerson.email,
        password: password.value,
      },
    });
  }
  // Else, un-give the old ones
  const unDiff = oldReceived.filter((a: any) => !newReceived.includes(a));
  if (unDiff.length > 0) {
    for (const oldPerson of unDiff) {
      $fetch("/api/events/1/tickets/ungive", {
        method: "POST",
        body: {
          name: oldPerson.name,
          email: oldPerson.email,
          password: password.value,
        },
      });
    }
  }
});

async function deleteSignup(row: any) {
  const resp = await $fetch("/api/events/1/signup", {
    method: "DELETE",
    body: { name: row.name, email: row.email, password: password.value },
  });
  if (resp.success) {
    anmeldungen.value = anmeldungen.value.filter(
      (a: any) => a.name !== row.name && a.email !== row.email
    );
  }
}
</script>

<style>
thead input[type="checkbox"] {
  display: none;
}
</style>
