<template>
  <div>
    <NuxtLayout>
      <NuxtPage />
    </NuxtLayout>
  </div>
</template>

<style>
@font-face {
  font-family: "Coolvetica";
  src: url("/fonts/coolvetica_normal_400.ttf") format("truetype");
}
@font-face {
  font-family: "Garamond Kant";
  src: url("/fonts/garamond-kant_normal_400.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Garamond Kant";
  src: url("/fonts/garamond-kant_italic_400.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Garamond Kant";
  src: url("/fonts/garamond-kant_normal_700.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/helvetica-neue_normal_400.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/helvetica-neue_normal_700.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Neue LT Std";
  src: url("/fonts/helvetica-neue-lt-std_normal_250.ttf") format("truetype");
  font-weight: 250;
  font-style: normal;
}
</style>