<template>
  <div>
    <Header
        background-type="img"
        background="https://ikgp.de/wp-content/themes/kantdesign2/assets/images/IMG_7956-jpg.webp"
        :is-large="false"
    />
    <nav class="my-12 ml-auto mr-auto justify-center hidden lg:flex flex-row gap-8">
      <UPopover v-for="menu in menus" mode="hover">
        <button class="font-serif font-bold text-4xl">{{ menu.title }}
          <UIcon name="i-heroicons-chevron-down" class="h-8 w-8 mt-auto mb-auto"/>
        </button>
        <template #panel>
          <div class="p-4 font-light">
            <MenuSubitem :items="menu.subitems"/>
          </div>
        </template>
      </UPopover>
    </nav>
    <div class="w-full flex items-center justify-center mt-4">
      <button class="lg:hidden" @click="showMenu = !showMenu">
        <UIcon name="i-heroicons-bars-3" class="h-12 w-12"/>
      </button>
    </div>
    <nav v-show="showMenu"
         class="flex flex-col gap-4 fixed top-0 left-0 w-full h-full bg-white p-4 text-xl overflow-scroll dark:text-black">
      <button @click="showMenu = false" class="font-bold text-4xl fixed top-2 right-2">
        <UIcon name="i-heroicons-x-mark" class="h-12 w-12"/>
      </button>
      <div v-for="menu in menus">
        <h3 class="font-bold text-2xl">{{ menu.title }}</h3>
        <MenuSubitem :items="menu.subitems"/>
      </div>
    </nav>
    <div class="ml-auto mr-auto max-w-screen-xl text-justify text-pretty mt-4 px-8" v-if="page">
      <h1 class="font-light text-4xl">{{ page.title }}</h1>
      <div v-html="page.content" class="no-tailwind font-light text-xl mb-8"/>
    </div>
    <Page404 v-else/>
  </div>
</template>

<script lang="ts" setup>
const query = graphql(`
  query getPage($uri: String) {
    pageBy(uri: $uri) {
      title
      date
      content
    }
  }
`);

const {path} = useRoute();
const {data, error} = await useAsyncQuery(query, {uri: path.replace("/wir/", "/unsere-schule/")});
const page = computed(() => data.value.pageBy);
const showMenu = ref(false);

const menus = [
  {
    title: "Menschen", subitems: [
      {
        name: "Schulleitung",
        link: "/wir/schulleitung",
      },
      {
        name: "Kollegium",
        link: "/wir/kollegium",
      },
      {
        name: "Sprechstunden",
        link: "/wir/sprechstunden",
      },
      {
        name: "Sekretariat",
        link: "/wir/sekretariat",
      },
      {
        name: "Schulsozialarbeit",
        link: "/wir/schulsozialarbeit",
      },
      {
        name: "Schülervertretung",
        link: "/wir/schuelervertretung",
      },
      {
        name: "Verbindungslehrerinnen",
        link: "/wir/menschen/verbindungslehrerinnen",
      },
      {
        name: "Elternvertretung",
        link: "/wir/elternvertretung",
      },
      {
        name: "Hausverwaltung",
        link: "/wir/hausverwaltung",
      },
      {
        name: "Personalrat",
        link: "/wir/personalrat",
      },
      {
        name: "Schulhündin Luna",
        link: "/wir/schulhuendin-luna",
      },
      {
        name: "Unsere Abiturienten",
        link: "/wir/unsere-abiturienten",
      },
    ]
  },
  {
    title: "Schule",
    subitems: [
      {
        name: "Bildungsgänge",
        link: "/wir/bildungsgaenge",
      },
      {
        name: "Orientierungsstufe",
        link: "/wir/orientierungsstufe",
        subitems: [
          {
            name: "Anmeldung 5. Klassen",
            link: "/wir/orientierungsstufe/anmeldung-5-klassen",
          },
          {
            name: "Förderunterricht",
            link: "/wir/orientierungsstufe/foerderunterricht",
          },
          {
            name: "Hausaufgabenbetreuung",
            link: "/wir/orientierungsstufe/hausaufgabenbetreuung",
          },
        ]
      },
      {
        name: "Mittelstufe",
        link: "/wir/mittelstufe",
      },
      {
        name: "MSS",
        link: "/wir/mss",
      },
      {
        name: "Unterrichtszeiten",
        link: "/wir/unterrichtszeiten",
      },
      {
        name: "Sprechstunden",
        link: "/wir/sprechstunden",
      },
      {
        name: "Fachbereiche",
        link: "/wir/fachbereiche",
        subitems: [
          {
            name: "Bildende Kunst",
            link: "/wir/fachbereiche/bildende-kunst",
          },
          {
            name: "Biologie",
            link: "/wir/fachbereiche/biologie",
          },
          {
            name: "Chemie",
            link: "/wir/fachbereiche/chemie",
          },
          {
            name: "Darstellendes Spiel",
            link: "/wir/fachbereiche/darstellendes-spiel",
          },
          {
            name: "Deutsch",
            link: "/wir/fachbereiche/deutsch",
          },
          {
            name: "Englisch",
            link: "/wir/fachbereiche/englisch",
          },
          {
            name: "Erdkunde",
            link: "/wir/fachbereiche/erdkunde",
          },
          {
            name: "Ethik",
            link: "/wir/fachbereiche/ethik",
          },
          {
            name: "Französisch",
            link: "/wir/fachbereiche/franzoesisch",
          },
          {
            name: "Gesellschaftswissenschaften",
            link: "/wir/fachbereiche/gesellschaftswissenschaften",
          },
          {
            name: "Griechisch",
            link: "/wir/fachbereiche/griechisch",
          },
          {
            name: "Latein",
            link: "/wir/fachbereiche/latein",
          },
          {
            name: "Mathematik",
            link: "/wir/fachbereiche/mathematik",
          },
          {
            name: "MINT – Fächer",
            link: "/wir/fachbereiche/mint-faecher",
          },
          {
            name: "Musik",
            link: "/wir/fachbereiche/musik",
          },
          {
            name: "Naturwissenschaften",
            link: "/wir/fachbereiche/naturwissenschaften",
          },
          {
            name: "Physik",
            link: "/wir/fachbereiche/physik",
          },
          {
            name: "Religion",
            link: "/wir/fachbereiche/fachbereich-religion",
          },
        ]
      },
      {
        name: "Arbeitsgemeinschaften",
        link: "/wir/arbeitsgemeinschaften",
        subitems: [
          {
            name: "AG Bienen & Imkerei",
            link: "/wir/arbeitsgemeinschaften/ag-bienen",
          },
          {
            name: "AG Bildende Kunst",
            link: "/wir/arbeitsgemeinschaften/ag-bildende-kunst",
          },
          {
            name: "AGs – Musik",
            link: "/wir/arbeitsgemeinschaften/musik-ags",
          },
          {
            name: "AG Netzwerk und Technik",
            link: "/wir/arbeitsgemeinschaften/technik-ag-2"
          },
          {
            name: "AG Roboter",
            link: "/wir/arbeitsgemeinschaften/ag-roboter",
          },
          {
            name: "AG Skilanglauf",
            link: "/wir/arbeitsgemeinschaften/ag-skilanglauf",
          },
          {
            name: "AG „SoR-SmC“",
            link: "/wir/arbeitsgemeinschaften/ag-sor-smc",
          },
          {
            name: "AG Tennis",
            link: "/wir/arbeitsgemeinschaften/tennis-ag",
          },
          {
            name: "AG Theater „Prolögchen“",
            link: "/wir/arbeitsgemeinschaften/die-theater-ag-proloegchen",
            subitems: [
              {
                name: "Aufführungen",
                link: "/wir/arbeitsgemeinschaften/die-theater-ag-proloegchen/auffuehrungen",
              }
            ]
          }
        ]
      },
      {
        name: "Soziales Engagement",
        link: "/wir/soziales-engagement",
        subitems: [
          {
            name: "Erinnerungskultur",
            link: "/wir/soziales-engagement/erinnerungskultur",
          },
          {
            name: "Projekt „Gefahr für die Demokratie“",
            link: "/wir/soziales-engagement/gefahr-fuer-die-demokratie",
          },
          {
            name: "Schule ohne Rassismus – Schule mit Courage",
            link: "/wir/soziales-engagement/schule-ohne-rassismus-schule-mit-courage",
          },
          {
            name: "Weihnachtspäckchenkonvoi",
            link: "/wir/soziales-engagement/weihnachtspaeckchenkonvoi",
          },
        ]
      },
      {
        name: "Förderverein",
        link: "/wir/foerderverein",
      },
      {
        name: "Schulbuchlisten",
        link: "/wir/schulbuchlisten",
      },
      {
        name: "Galerie",
        link: "/wir/galerie",
      },
      {
        name: "Schulgeschichte",
        link: "/wir/schulgeschichte",
      },
      {
        name: "ARCHIV",
        link: "https://archiv.ikgp.de/",
      },
    ]
  },
  {
    title: "Dokumente | Links",
    subitems: [
      {
        name: "Downloads/Formulare",
        link: "/wir/downloads",
      },
      {
        name: "Kantiversum (Nextcloud)",
        link: "https://cloud.ikgp.de/",
      },
    ]
  }
];
</script>

<style>
.no-tailwind {
  h1 {
    font-size: xx-large;
    font-weight: lighter;
    margin: 1em 0;
  }

  h2 {
    font-size: x-large;
    font-weight: lighter;
    margin: 1em 0;
  }

  h3 {
    font-size: large;
    font-weight: bold;
    margin: 1em 0;
  }

  h4 {
    font-size: medium;
    font-weight: bold;
    margin: 1em 0;
  }

  h5 {
    font-size: small;
    font-weight: bold;
    margin: 1em 0;
  }

  h6 {
    font-size: x-small;
    font-weight: bold;
    margin: 1em 0;
  }

  a:not([href^="#"]) {
    color: #3182ce;
    text-decoration: underline;
  }

  img {
    margin: 1rem;
    margin-left: auto;
    margin-right: auto;
    height: auto !important;
  }

  p {
    margin: 1em 0;
  }

  figure {
    margin: 1em 0;
  }

  figure img {
    margin: 0;
  }

  figure figcaption {
    font-size: small;
    font-style: italic;
    text-align: center;
  }

  .n2-section-smartslider {
    display: none;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }

  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
}
</style>
