<template>
  <div>
    <Header
      background-type="img"
      background="https://ikgp.de/wp-content/uploads/2023/08/IMG_7954-scaled.webp"
      :is-large="false"
      hide-banner
    />
    <div
      class="w-screen flex flex-col text-justify pb-4 pt-8 px-8 max-w-screen-lg ml-auto mr-auto mt-12 mb-24"
    >
      <p>Liebe Eltern,</p>
      <p>
        hiermit bestätigen wir Ihnen die Reservierung von
        {{ params.count }} Tickets für den Festakt zum 300. Geburtstag Immanuel
        Kants am 22.04.24 um 18.00 Uhr in der Festhalle (Einlass und Bewirtung
        ab 17.00 Uhr). Die kostenlosen Karten können zwischen dem 08.04.24 und
        dem 18.04.24 von Ihren Kindern im Sekretariat der Schule abgeholt
        werden. Sollten die Karten bis dahin nicht abgeholt werden, verfällt die
        Reservierung und die Karten werden anderweitig vergeben. Wir freuen uns
        auf eine schöne Veranstaltung mit Ihnen und Ihren Kindern.
      </p>
      <p>
        Herzliche Grüße<br />
        Josef Traub,<br />
        Schulleiter
      </p>
    </div>
  </div>
</template>

<script setup lang="ts">
const { params } = useRoute();
</script>
