<template>
    <div>
      <HeaderIntern class="mb-4" />
      <div class="flex items-center justify-center flex-col h-[90vh]">
        <UIcon
          name="i-emojione-v1-building-construction"
          class="h-36 w-36 mb-4"
          dynamic
        />
        <p class="whitespace-pre-line p-3 text-lg">
          Das neue Admin-Interface befindet sich noch im Aufbau.
        </p>
      </div>
    </div>
  </template>
  