<template>
  <Header
        background-type="img"
        background="https://ikgp.de/wp-content/uploads/2023/08/IMG_7954-scaled.webp"
    :is-large="false"
  />
  <div class="ml-auto mr-auto max-w-screen-xl text-justify  text-pretty mt-8">
    <h1 class="font-bold text-3xl">{{ post.title }}</h1>
    <h3 class="font-bold mb-4">{{ new Date(post.date as string).toLocaleString() }}</h3>
    <div v-html="post.content" class="no-tailwind" />
  </div>
</template>

<script lang="ts" setup>
const query = graphql(`
  query getPost($uri: String) {
    postBy(uri: $uri) {
      title
      date
      content
    }
  }
`);

const { path } = useRoute();
const { data, error } = await useAsyncQuery(query, { uri: path.substring(6) });
const post = computed(() => data.value.postBy);
</script>

<style>
.no-tailwind {
  h1 {
    font-size: xx-large;
    font-weight: lighter;
    margin: 1em 0;
  }
  h2 {
    font-size: x-large;
    font-weight: bold;
    margin: 1em 0;
  }
  h3 {
    font-size: large;
    font-weight: bold;
    margin: 1em 0;
  }
  h4 {
    font-size: medium;
    font-weight: bold;
    margin: 1em 0;
  }
  h5 {
    font-size: small;
    font-weight: bold;
    margin: 1em 0;
  }
  h6 {
    font-size: x-small;
    font-weight: bold;
    margin: 1em 0;
  }

  a:not([href^="#"]) {
    color: #3182ce;
    text-decoration: underline;
  }
  
  img {
    margin: 1rem;
    margin-left: auto;
    margin-right: auto;
  }
}
</style>
