<template>
    <div>
      <Header
        :background-type="'video'"
        :background="'/hintergrund.webm'"
        poster="/header-static.webp"
        :is-large="false"
        hide-banner
      />
      <div class="w-screen flex flex-col items-center justify-center pb-4 pt-8">
        <h1 class="font-bold text-4xl mb-4">Interner Bereich</h1>
        <div class="flex w-full items-center justify-center flex-col">
          <UFormGroup label="Benutzername" class="mb-4">
            <UInput v-model="name" />
          </UFormGroup>
          <UFormGroup label="Passwort" class="mb-4">
            <UInput v-model="password" />
          </UFormGroup>
          <UButton>Anmelden</UButton>
        </div>
      </div>
    </div>
  </template>
  
  <script setup lang="ts">
  const personen = ref(1);
  const name = ref("");
  const password = ref("");
  </script>
  