<template>
  <div>
    <NuxtLink
      class="py-6 px-12 w-screen text-center relative group flex flex-col items-center justify-center"
      :to="config.url"
      v-if="config.url"
      :style="{ backgroundColor: config.color }"
    >
      <BannerInner :config="config" />
    </NuxtLink>
    <div
      class="py-6 px-12 w-screen text-center relative group flex flex-col items-center justify-center"
      v-else
      :style="{ backgroundColor: config.color }"
    >
      <BannerInner :config="config" />
    </div>
  </div>
</template>

<script setup lang="ts">
defineProps({
  config: {
    type: Object as PropType<BannerConfig>,
    required: true,
  },
});
</script>
