<template>
  <div
    class="hidden absolute h-[120%] top-[-10%] lg:flex flex-col lg:flex-row items-center justify-center left-0 w-full gap-12"
  >
    <img
      :src="banner.image"
      class="transition-transform transform-center duration-300 h-full"
      aria-hidden
      :class="{
        'group-hover:scale-110': config.animate,
      }"
    />
    <div class="flex flex-col items-center justify-center">
      <span class="text-xl font-bold ml-14">{{ config.title }}</span>
      <p class="mt-2">
        {{ config.subtitle }}
      </p>
    </div>
  </div>
  <img :src="config.image" class="lg:hidden h-44 w-auto" />
  <div class="flex flex-col items-center justify-center lg:invisible">
    <span class="text-xl font-bold">{{ config.title }}</span>
    <p class="mt-2">
      {{ config.subtitle }}
    </p>
  </div>
</template>

<script setup lang="ts">
defineProps({
  config: {
    type: Object as PropType<BannerConfig>,
    required: true,
  },
});
</script>
