<template>
  <button @click="toggleTheme">
    <UIcon name="i-heroicons-sun" v-if="colorMode.value === 'dark'" class="h-6 w-6" />
    <UIcon name="i-heroicons-moon" v-if="colorMode.value === 'light'" class="h-6 w-6" />
  </button>
</template>

<script setup lang="ts">
const colorMode = useColorMode();

function toggleTheme() {
  colorMode.preference = colorMode.value === "dark" ? "light" : "dark";
}
</script>
