<template>
  <footer
    class="flex w-full bg-black items-center justify-around py-4 text-white flex-col lg:flex-row mt-auto text-center gap-4"
  >
    <p>
      <NuxtLink to="/impressum">Impressum</NuxtLink> -
      <NuxtLink to="/datenschutz">Datenschutzerklärung</NuxtLink>
    </p>
    <span>© Inhalt: Immanuel-Kant-Gymnasium Pirmasens.</span>
    <span
      >🄯
      <a href="https://gitlab.com/waldbaur/ikgp-de" class="underline"
        >Code</a
      >: <a href="https://waldbaur.solutions/" class="underline">Waldbaur</a>.</span
    >
  </footer>
</template>
