<template>
  <div
      class="relative flex flex-row items-center bg-black text-white w-screen p-4 gap-x-4"
  >

    <a
        href="/"
        class="flex items-center gap-2"
    >
      <img
          src="~/assets/kant-logo.svg"
          class="h-10"
      />
      <h1
          class="font-bold font-serif text-2xl"
      >
        IKGP
      </h1></a
    >

    <nav
        class="flex flex-row gap-x-8 lg:flex-row font-sans text-center text-lg w-auto"
    >
      <a
          href="/wir/"
          class="flex items-center justify-center flex-row flex-1 gap-x-2"
      >
        <b>Wir</b>
        <span class="font-light whitespace-nowrap">[Unsere Schule]</span>
      </a>
      <a
          href="/jetzt/veranstaltungen"
          class="flex items-center justify-center flex-row flex-1  gap-x-2"
      >
        <b>Jetzt</b>
        <span class="font-light whitespace-nowrap"
        >[Aktuelles/Veranstaltungen]</span
        >
      </a>
      <a
          href="/hier"
          class="flex items-center justify-center flex-row flex-1 gap-2"
      >
        <b>Hier</b>
        <span class="font-light whitespace-nowrap">[Kontakt]</span>
      </a>
    </nav>


    <NuxtLink to="https://www.instagram.com/ikgp1836" class="h-8 ml-auto"
    >
      <UIcon
          name="i-mage-instagram-circle"
          class="h-8 w-8"
      />
    </NuxtLink>
    <NuxtLink to="https://www.facebook.com/ikgp1836" class="h-8"
    >
      <UIcon name="i-mage-facebook-circle" class="h-8 w-8"
      />
    </NuxtLink>

    <ColorModeToggle class="mr-2 h-6"/>
  </div>
</template>

<script lang="ts" setup>
</script>
