<template>
  <div
    class="relative flex flex-col items-center text-white w-screen pt-20"
    :class="{
      'min-h-[90vh]': isLarge,
      'min-h-[50vh]': !isLarge,
    }"
  >
    <!--<div class="absolute top-0 w-screen flex p-2 bg-black/50">
      <NuxtLink to="/interner-bereich/login" class="hidden" aria-hidden="true"
        >Login für Schüler</NuxtLink
      >
      <ColorModeToggle class="ml-auto mr-2" />
    </div>--->
    <div
      class="absolute top-0 w-screen flex items-center justify-end gap-2 h-12"
    >
      <NuxtLink
        to="https://www.instagram.com/ikgp1836"
        class="h-10"
        aria-label="Unser Instagram-Account"
        ><UIcon
          name="i-mage-instagram-circle"
          class="h-10 w-10 drop-shadow-3xl"
      /></NuxtLink>
      <NuxtLink
        to="https://www.facebook.com/ikgp1836"
        class="h-10"
        aria-label="Unsere Facebook-Seite"
        ><UIcon name="i-mage-facebook-circle" class="h-10 w-10 drop-shadow-3xl"
      /></NuxtLink>

      <ColorModeToggle class="mr-2 h-6" aria-hidden />
    </div>
    <div class="h-full w-full absolute video z-[-1] overflow-hidden">
      <video
        v-if="backgroundType === 'video'"
        autoplay
        muted
        loop
        class="min-h-full min-w-full object-cover"
        :poster
        playsinline
        webkit-playsinline
      >
        <source
          ref="videoSrc"
          :data-src="background"
          :type="`video/${background.split('.').pop()}`"
        />
      </video>
      <img
        v-else
        :src="background"
        class="min-h-full min-w-full object-cover"
      />
    </div>
    <a
      href="/"
      class="flex lg:flex-col items-center gap-2 mb-12"
      :class="{
        'flex-col': isLarge,
      }"
    >
      <img
        src="~/assets/kant-logo.svg"
        class="drop-shadow-3xl h-20"
        :class="{
          'h-44 lg:h-64 lg:mb-44': isLarge,
          'lg:h-44': !isLarge,
        }"
        alt="Schullogo des Immanuel-Kant-Gymnasiums Pirmasens"
      />
      <h1
        class="font-bold font-serif drop-shadow-3xl text-6xl"
        :class="{
          'lg:text-6xl': !isLarge,
          'lg:text-8xl': isLarge,
        }"
      >
        IKGP
      </h1></a
    >

    <nav
      class="flex items-center justify-evenly flex-col gap-y-4 lg:flex-row font-sans text-center w-2/3 mt-auto text-3xl"
      :class="{
        'mb-8': !isLarge,
        'mb-16': isLarge,
      }"
    >
      <a
        href="/wir/"
        class="flex items-center justify-center flex-col flex-1 drop-shadow-3xl"
      >
        <b>Wir</b>
        <span class="mt-auto font-light">[Unsere Schule]</span>
      </a>
      <a
        href="/jetzt/veranstaltungen"
        class="flex items-center justify-center flex-col flex-1 drop-shadow-3xl"
      >
        <b>Jetzt</b>
        <span class="mt-auto font-light"
          >[Aktuelles/<wbr />Veranstaltungen]</span
        >
      </a>
      <a
        href="/hier"
        class="flex items-center justify-center flex-col flex-1 drop-shadow-3xl"
      >
        <b>Hier</b>
        <span class="mt-auto font-light">[Kontakt]</span>
      </a>
    </nav>
    <!--<Banner :config=banner v-if="!hideBanner" />-->
  </div>
</template>

<script lang="ts" setup>
const { isIos, isSafari, isMobile, isTablet } = useDevice();
const videoSrc = ref<HTMLSourceElement>();
//import { banner } from "~/utils/config";

const props = defineProps({
  backgroundType: {
    type: String as PropType<"img" | "video">,
    required: false,
    default: "img",
  },
  background: {
    type: String,
    required: true,
  },
  isLarge: {
    type: Boolean,
    required: false,
    default: true,
  },
  hideBanner: {
    type: Boolean,
    required: false,
    default: false,
  },
  poster: {
    type: String,
    reqired: false,
    default: "",
  },
});

const background = computed(() => {
  if (props.background !== "/hintergrund.webm") {
    return props.background;
  }
  let file = "hintergrund";
  let extension = "webm";
  if (isIos || isSafari) {
    extension = "mp4";
  }
  if (isMobile) {
    file += "-720";
  } else if (isTablet) {
    file += "-1080";
  }
  return `/${file}.${extension}`;
});

onMounted(() => {
  if (props.backgroundType === "video") {
    videoSrc.value!.src = videoSrc.value?.dataset.src!;
  }
});
</script>

<style scoped>
.video {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
</style>
