<template>
  <div>
    <template v-for="item in items">
      <NuxtLink :to="item.link" class="block my-2" v-if="!item.subitems">{{
          item.name
        }}
      </NuxtLink>
      <NuxtLink v-else :to="item.link" class="block my-2" v-if="item.subitems" slot="reference">{{ item.name }}
      </NuxtLink>
      <MenuSubitem :items="item.subitems" class="ml-2"/>
    </template>
  </div>
</template>

<script setup lang="ts">
defineProps({
  items: Object,
});
</script>
