<template>
  <div class="text-center flex flex-col items-center justify-center py-16 mb-8">
    <h1 class="text-5xl font-serif font-bold">Seite nicht gefunden</h1>
    <div class="text-2xl font-lite flex gap-8 flex-col px-8">
      <p class="font-bold">
        Diese Seite gibt es leider nicht.
      </p>
    </div>
  </div>
</template>
