@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    @apply text-4xl font-bold mb-4;
}

h2 {
    @apply text-3xl font-bold mb-4;
}

h3 {
    @apply text-2xl font-bold mb-2;
}

h4 {
    @apply text-xl font-bold mb-2;
}
